---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import SkillCard from '../components/SkillCard.astro';

import ProjectCard from '../components/ProjectCard.astro';
import ContactForm from '../components/ContactForm.astro';




---



<Layout>

  <!-- HERO -->
  
	<Hero 
        name="Valeria"
        lastname="Avalos"
        role="Ingeniera de Computación y Sistemas y Diseñadora UX/UI"
        photo="src/assets/Hero.png"
        
        description="Construyendo soluciones elegantes a problemas complejos con tecnologías modernas."
    />

  <!-- SOBRE MI -->
  <About>
    <div class="flex flex-col items-center space-y-4">
      <!-- Foto circular -->
      <div class="w-40 h-40 rounded-full border-4  hover:scale-105 transition-transform border-[#7126d9] overflow-hidden">
        <img src="/src/assets/perfil.png" alt="Valeria Avalos" class="w-full h-full object-cover" /> 

      </div>

      <!-- Nombre -->
      <h2 class="text-2xl font-bold text-[#393456]">Valeria Avalos</h2>
      
      <!-- Título -->
      <p class="text-gray-600">Ingeniera de Computación y Sistemas</p>

      <!-- Etiquetas -->
      <div class="flex space-x-2">
        <span class="px-3 py-1 border border-[#7126d9] rounded-full text-[#7126d9] text-sm font-medium">UI/UX</span>
        <span class="px-3 py-1 border border-[#7126d9] rounded-full text-[#7126d9] text-sm font-medium">Tailwind CSS</span>
      </div>

      <!-- Botón Descargar CV -->
      <a href="/src/assets/CV - AVALOS QUISPE VALERIA CAMILA.pdf" download>
        <button class="mt-4 bg-[#7126d9] text-white px-6 py-2 rounded-md hover:bg-[#7d3adc] font-semibold hover:scale-105 transition-transform">
          Descargar CV
        </button>
      </a>

    </div>
  </About>




  <!-- HABILIDADES -->
     <section id="skillCard" class="w-full  flex flex-col items-center justify-center bg-[#f9f7fc] px-4 md:px-8 lg:px-16 py-20">
      <div class="max-w-7xl mx-auto  w-full">  
      <div class="flex flex-col">

           
          <div class="">
              <h2 class="text-5xl font-bold text-[#393456] text-left">Habilidades</h2>
              <div class="w-30 h-1 bg-[#7126d9] mt-2 rounded-full"></div>
              <p class="pt-4 mx-auto text-xl">Conozca algunas de las tecnologías y herramientas con las que llevo a cabo mis proyectos.</p>
            </div>
          </div>

         <div class="mx-auto grid max-w-7xl gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-4">

         

            <SkillCard 
              name="Desarrollo Frontend" 
              icon="https://img.icons8.com/?size=100&id=87268&format=png&color=7e3bdc"
              technologies={["HTML", "Tailwind CSS", "CSS"]}
            />
            <SkillCard 
              name="Diseño UI/UX" 
              icon="https://img.icons8.com/?size=100&id=21940&format=png&color=7e3bdc"
              technologies={["Figma", "Sketch", "PhotoShop", "Illustrator", "Balsamiq"]} 
            />
            <SkillCard 
              name="Herramientas y Tecnologías" 
              icon="https://img.icons8.com/?size=100&id=14600&format=png&color=7e3bdc"
              technologies={["Power BI","Git", "GitHub", "Wordpress", "3D Max"]} 
            />
            <SkillCard 
              name="Base de Datos" 
              icon="https://img.icons8.com/?size=100&id=CL9FYPTHMfLp&format=png&color=7e3bdc"
              technologies={["MongoDB", "MySQL", "Firebase"]} 
            />
            

            
          
            
             
            </div>
        </div>
      </section>




<!-- PROYECTOS -->
      <section id="projectCard" class="w-full flex flex-col items-center justify-center bg-[#f9f7fc] px-4 md:px-8 lg:px-16 py-20">
        <div class="max-w-7xl mx-auto  w-full">  

        <div class="flex flex-col">

      
          <div class="space-y-4 max-w-6xl">
              <h2 class="text-5xl font-bold text-[#393456] text-left">Proyectos</h2>
          <div class="w-20 h-1 bg-[#7126d9] mt-2 rounded-full"></div>
              <p class="mx-auto text-xl">A continuación, comparto una selección de proyectos en los que he trabajado recientemente.</p>
            </div>
          </div>
        
          <div class="mx-auto grid max-w-7xl gap-6 mt-5 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">



            <ProjectCard 
            title="Portafolio Personal"
            description="Portafolio personal de una sola página desarrollado con Astro, HTML, JavaScript y Tailwind CSS, diseñado para mostrar proyectos, habilidades y experiencia de forma moderna, responsiva y rápida."
            link="https://github.com/ValCam18/Portafolio"
            technologies={['HTML', 'Tailwind CSS', 'JavaScript']}

            />

            <ProjectCard 
            title="To-Do App"
            description="To-Do App creada con HTML, CSS y JavaScript que permite gestionar tareas de forma sencilla. Los usuarios pueden crear, eliminar y filtrar tareas, además de organizarlas por categorías para un mejor control y productividad."
            link="https://github.com/ValCam18/to-do-app"
            technologies={['JavaScript', 'CSS', 'HTML']}

            />

            <ProjectCard 
            title="Sudoku"
            description="Proyecto Sudoku desarrollado en C++ que permite generar, resolver y validar tableros de Sudoku. Incluye funcionalidades para ingresar números, verificar reglas del juego y ofrecer pistas."
            link="https://github.com/ValCam18/Sudoku"
            technologies={[ 'C++' ]}

            />
            </div>
        </div>
      </section>




<!-- CONTACTO -->

      <section id="contact" class="w-full  bg-[#f9f7fc] items-center justify-center px-4 md:px-8 lg:px-16 py-20">
         <div class="max-w-7xl mx-auto w-full">  
        <div class="flex flex-col">
            <div class="space-y-4">
              <h2 class="text-5xl font-bold text-[#393456] text-left">Contáctame</h2>
             <div class="w-20 h-1 bg-[#7126d9] mt-2 rounded-full"></div>
              <p class="mx-auto text-xl pb-5">¡Para proyectos, colaboraciones o cualquier consulta, no dudes en contactarme!</p>
            </div>
          </div>
        
        <div class="mx-auto  max-w-7xl flex flex-col md:flex-row gap-6">
        <ContactForm />
        </div>
        </div>
      </section>


<!-- BOTÓN FLECHA -->

  <a href="#Hero" class="fixed bottom-5 right-5 z-50">
     <div class="bg-[#7126d9] hover:bg-[#7d3adc] text-white p-3 rounded-full shadow-lg transition-transform hover:scale-110">
    ↑
    </div>
  </a>


</Layout>
