---
import ContactFormClient from './ContactFormClient.jsx';
---

<ContactFormClient client:load />



<!-- 

<section id="contact" class="w-full py-4">
    <div class="container">
    <form class="space-y-4">
        <div class="grid grid-cols-2 gap-4">
            <div class="space-y-2">
                <label for="name" class="block text-m font-medium mb-1">Name</label>
                <input type="text" id="name" name="name" placeholder="Tu nombre" required class="block w-full h-10 rounded-md border border-gray-400 px-3 py-2 placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-[#c73967] focus:border-[#c73967]"/>
            </div>
            <div class="space-y-2">
                <label for="email" class="block text-m font-medium mb-1">Email</label>
                <input id="email" placeholder="Your email" type="email" required class="block w-full h-10 rounded-md border border-gray-400 px-3 py-2 placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-[#c73967] focus:border-[#c73967]">
            </div>
        </div>
        <div class="space-y-2">
            <label for="subject" class="block text-m font-medium mb-1">Subject</label>
            <input id="subject" placeholder="Subject of your message" required class="block w-full h-10 rounded-md border border-gray-400 px-3 py-2 placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-[#c73967] focus:border-[#c73967]">
        </div>
        <div class="space-y-2">
            <label for="message" class="block text-m font-medium mb-1">Message</label>
            <textarea  required class="block w-full h-10 rounded-md border border-gray-400 px-3 py-2 placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-[#c73967] focus:border-[#c73967] min-h-[150px]" id="message" placeholder="Your message">
            </textarea>
        </div>
        <button class="bg-[#ff7b00] text-white rounded px-4 py-2 w-full" type="submit">Send Message</button>
    </form>
</div>
</div>
</div>
</section> -->